body {
    display: grid;
    grid-template: max-content auto / 250px 1fr;
    height: 100vh;
    font-family: "Inter", sans-serif;
    cursor: default;
}

header {
    font-family: "Love Ya Like A Sister", sans-serif;
    background-color: rgb(70, 70, 70);
    color: rgb(248, 248, 248);
    letter-spacing: 5px;
    grid-column: span 2;

    display: flex;
    align-items: center;
    gap: 10px;
    padding-block: 10px;
    padding-left: 16px;
    font-size: 20px;
    
    span#logo {
        font-variation-settings: 'wght' 400;
        font-size: 46px !important;
        cursor: default;
    }
}

button, span.material-symbols-outlined {
    cursor: pointer;
}

button {
    font-family: "Inter", sans-serif;
}

span.material-symbols-outlined {
    font-variation-settings: "wght" 300;
    font-size: 21px;
}

section.left-container {
    height: 100%;
    background-color: rgb(169, 172, 173);
    padding: 1rem;
    min-width: 250px;

    ul {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    
    li.page {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 8px 12px;
        width: 100%;

        border-radius: 8px;

        span.icon {
            margin-right: 5px;
        }
    }
    li.page:hover {
        background-color:rgba(0, 0, 0, 0.1);
    }

    
    li.projects {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
        > p {
            margin-top: 1rem;
            font-size: 1.5rem;
            font-weight: 600;
        }

        ul.proj-list {
            width: 100%;

            li.page.proj {
                div {
                    display: flex;
                    align-items: center;
                }
        
                div.info {
                    flex-grow: 1;
                }

                span:hover {
                    transform: scale(1.2);
                }
            }
    
        }
    }

    button.add-project {
        width: 100%;
        border-radius: 8px;
        border-style: none;
        background-color: rgb(230, 232, 233);
        padding: 4px 0;
        margin-top: 0.5rem;
    }
    button.add-project:hover {
        background-color: rgba(230, 232, 233, 0.8);
    }
}

main {
    padding: 1rem 2rem;
    background-color: rgb(249, 254, 255);
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 1rem;
        width: 350px;
        text-align: left;
    }

    section.todoList {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        margin-bottom: 1rem;

        li.todo {
            display: grid;
            grid-template: 1fr 1fr / max-content 1fr auto;
            align-items: center;
            width: 350px;

            button {
                grid-column: 1;
                grid-row: 1;
                border-style: solid;
                border-width: 0;
                width: 24px;
                height: 24px;
                border-radius: 100%;
                margin-right: 8px;
            }

            div.container {
                display: contents;
            }

            p.title {
                grid-column: 2;
                grid-row: 1;
                font-size: 1.1rem;
            }
            p.desc {
                grid-column: 2;
                grid-row: 2;
                font-size: 0.9rem;
                color: rgb(32, 32, 32);
            }
            p.date {
                grid-column: 3;
                grid-row: 1;
                font-size: 0.9rem;
                align-self: center;
            }

            button.low {
                border-width: 2px;
                border-color: #246fe0;
                background-color: hsl(216, 75%, 90%);
            }
            button.medium {
                border-width: 2px;
                border-color: #eb8909;
                background-color: hsl(34, 93%, 90%);
            }
            button.high {
                border-width: 2px;
                border-color: #d1453b;
                background-color: hsl(4, 62%, 90%);
            }

            button:hover {
                cursor: pointer;
            }
        }
    }

    button.add {
        border-style: none;
        padding: 8px 32px;
        border-radius: 8px;
        background-color: rgba(230, 232, 233, 0.7);
    }
    button.add:hover {
        background-color: rgb(230, 232, 233);
    }
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: none;
    border-radius: 4px;
    padding: 1.2rem;
    width: 350px;
    
    form {
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 1rem;

        p {
            font-size: 20px;
            font-weight: 500;
        }
        label {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }
        
        label input,
        label select {
            width: 100%;
            padding: 0.5rem;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-family: inherit;
        }

        span.cancel {
            position: absolute;
            right: 0;
        }

        button[type="submit"] {
            border-radius: 6px;
            border-style: none;
            padding: 8px 0;
        }
        button[type="submit"]:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}
